.vs/DatingApp.API/DesignTimeBuild/.dtbcache
.vs/DatingApp.API/config/applicationhost.config
.vs/DatingApp.API/v16/.suo
.vs/DatingApp.API/v16/Server/sqlite3/db.lock
.vs/DatingApp.API/v16/Server/sqlite3/storage.ide
.vs/DatingApp.API/v16/Server/sqlite3/storage.ide-shm
.vs/DatingApp.API/v16/Server/sqlite3/storage.ide-wal
*.db-shm
*.db-wal
